.row__post {
    border: 1px solid black;
    /* display: flex; */
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.row__posts {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-start;
    object-fit: contain;
    overflow-x: scroll;
}
.row {
    color: white;
    margin-left: 20px;
}

.row__button {
    border-radius: 0.6%;
}

.row__poster {
    /* this object-fit maintains aspect ration */
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    /* transition when size changes  */
    transition: transform 450ms;
}

.row__posters::-webkit-scrollbar {
    /* shift and scroll without scrollbar */
    display: none;
}

.row__posters {
    /* what exactly does this flexbox do? it only works when max-height is set */
    /* I think it turns columns to rows */
    display: flex;
    overflow-y: hidden;
    /* this overflow allows a row scrollbar  */
    overflow-x: scroll;
    /* this padding prevents cropping of the row poster on hover  */
    padding: 20px;
}